# Ignore Gradle project-specific cache directory
.gradle
/Source/gradle/
# /Source/gradlew
# /Source/build.gradle.kts
# /Source/settings.gradle.kts
.gitattributes

# Ignore Gradle build output directory
build

# eclipse
.classpath
.project
.settings/

primularc.xml
samiamrc.xml
.vscode
.DS_Store
bin
.idea
# /Source/src/main/java/Experiments/
/primula-experiments/

